.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    
}

.button-light-purple {
    background: var(--m-3-sys-dark-primary, #D0BCFF);
}

.button-dark-purple {
    background: var(--m-3-sys-light-primary, #6750A4);
}

.button-large {
    width: 355px;
    height: 54px;
    gap: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-small {
    width: 172px;
    height: 54px;
}